<section class="testimonials py-5" th:fragment="businesses">
  <h1 class="text-warning fw-bold text-center">
    BUSINESSES FOR SALE
  </h1>
  <div class="row">
    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="p-3  shadow h-100 m-3">
        <div class="p-3 -body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div
                      class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                Banking
              </div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">
                Foreign Exchange Shop
                <p class="font-weight-normal h6 text-dark">Location: <span class="text-danger">Kampala </span> ***   <span class="text-info"> USD 12,000</span></p>

              </div>
            </div>
            <div class="col-auto">
              <img
                      th:src="@{images/budget.png}"
                      alt=""
                      class="img-fluid p-3 w-50" />
            </div>
            <p class="py-1 ">  <a class="btn btn-danger btn-lg pl-5 pr-5"  th:href="@{login}">See Details</a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
      <div class="p-3  shadow h-100 m-3">
        <div class="p-3 -body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div
                      class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                Building & Construction
              </div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">
                Hardware Shop
                <p class="font-weight-normal h6 text-dark">Location: <span class="text-danger">Nairobi </span> ***   <span class="text-info"> USD 120,000</span></p>

              </div>
            </div>
            <div class="col-auto">
              <img
                      th:src="@{images/tools.png}"
                      alt=""
                      class="img-fluid p-3 w-50" />
            </div>
            <p class="py-1 ">  <a class="btn btn-danger btn-lg pl-5 pr-5"  th:href="@{login}">See Details</a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
      <div class="p-3  shadow h-100 m-3">
        <div class="p-3 -body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div
                      class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                Food & Nutrition
              </div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">
                Urban Restaurant
                <p class="font-weight-normal h6 text-dark">Location: <span class="text-danger">Kigali </span> ***   <span class="text-info"> USD 78,000</span></p>

              </div>
            </div>
            <div class="col-auto">
              <img
                      th:src="@{images/cooking.png}"
                      alt=""
                      class="img-fluid p-3 w-50" />
            </div>
            <p class="py-1 ">  <a class="btn btn-danger btn-lg pl-5 pr-5"  th:href="@{login}">See Details</a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
      <div class="p-3  shadow h-100 m-3">
        <div class="p-3 -body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div
                      class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                Clothing
              </div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">
               Kids' Cloth store
                <p class="font-weight-normal h6 text-dark">Location: <span class="text-danger">Cairo </span> ***   <span class="text-info"> USD 142,000</span></p>

              </div>
            </div>
            <div class="col-auto">
              <img
                      th:src="@{images/clothes-hanger.png}"
                      alt=""
                      class="img-fluid p-3 w-50" />
            </div>
            <p class="py-1 ">  <a class="btn btn-danger btn-lg pl-5 pr-5"  th:href="@{login}">See Details</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>


</section>
