
    <footer class="navbar  m-0  navbar-expand-sm navbar-dark   bg-dark text-white" th:fragment="footer">
        <div
                class="container-fluid d-flex flex-wrap w-100 m-0 ">

            <ul class="nav ml-auto m-0">
                <li class="nav-item">
                    <a th:href="@{/about}" class="nav-link topbartext px-2">About us</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/terms}" class="nav-link topbartext px-2">Terms</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/contact}" class="nav-link topbartext px-2">Contact us</a>
                </li>

                <li class="nav-item">
                 <h3><a th:href="@{/login}" class="nav-link topbartext px-2">&reg;</a></h3>
                </li>
            </ul>
        </div>
    </footer>


