
<div class="fixed-top" th:fragment="nav">
    <nav class="p-0 m-0 bg-body-tertiary contactbar">
        <div
                class="container-fluid w-100 bg-dark m-0 d-flex flex-wrap text-white">
            <ul class="nav me-auto">
                <li class="nav-item">
                    <a
                            href="index.html"
                            class="nav-link topbartext px-2"
                            aria-current="page"
                    >+256 776-407600
                    </a>
                </li>
                <li class="nav-item">
                    <a href="products.html" class="nav-link topbartext px-2"
                    >+256 750-753311</a
                    >
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link topbartext px-2"
                    >richieartug@gmail.com</a
                    >
                </li>
            </ul>
            <ul class="nav">
                <li class="nav-item">
                    <a href="#" class="nav-link topbartext"
                    ><i class="bi bi-facebook"></i
                    ></a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link topbartext"
                    ><i class="bi bi-twitter"></i
                    ></a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link topbartext"
                    ><i class="bi bi-linkedin"></i
                    ></a>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link topbartext"
                    ><i class="bi bi-tiktok"></i
                    ></a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link topbartext"
                    ><i class="bi bi-instagram"></i
                    ></a>
                </li>
            </ul>
        </div>
    </nav>

    <nav
            class="pe-5 navbar navbar-expand-lg bg-body-tertiary rounded shadow"
            aria-label="Twelfth navbar example">
        <div class="container-fluid">
            <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarsExample10"
                    aria-controls="navbarsExample10"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div
                    class="collapse navbar-collapse justify-content-md-center"
                    id="navbarsExample10">
                <a
                        href="/"
                        class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-decoration-none">
                </a>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="btn btn-dark" aria-current="page" th:href="@{/logout}">
                            <i class="bi me-1 bi-box-arrow-right"></i> Logout</a
                        >
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
