<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/home}" >

<body>
<div layout:fragment="~{content}">

    <div class="row">
        <div class="p-5 col-md-8 mx-auto ">
            <p class="mt-5 pt-5 ">
            <img th:src="@{/images/logo.png}" class="w-25 ">
            </p>
            <h2 class="display-3 mt-5 pt-5 text-left">About us</h2>

            <h4 class="fw-bold text-left pt-5">Welcome to RICHIEART: passionate about design</h4>
            <p class="py-3 text-left">RICHIEART.co is here for the African Market. Many Africans are so poor
                to afford expensive Building drawings thus leading to very poorly
                designed and constructed houses. Did you know that, poorly designed
                houses are most times, much more expensive to build. Yes, those long
                dark corridors are a waste of resources. </p>
            <p class="py-3 text-left">At RICHIEART, we're dedicated to crafting dreams and turning
                aspirations into the sturdy foundations of beautiful, affordable
                optimized homes.
            </p>
            <h4 class="fw-bold text-left pt-5">Our Story</h4>
            <p class="py-3 text-left">
                RICHIEART stands as a beacon of excellence in the African construction
                industry. With a passionate team and years of experience, we've
                proudly adorned the skyline with homes that echo elegance, comfort,
                and affordability.

            </p>
            <h4 class="fw-bold text-left pt-5">Our Commitment</h4>
            <p class="py-3 text-left">
                Each project is a testament to our unwavering commitment to turning
                your vision into an affordable, livable space. From the initial
                concept to the final nail, we walk hand-in-hand with our clients,
                ensuring a seamless journey towards their dream home, without breaking
                the bank.

            </p>

            <h4 class="fw-bold text-left pt-5">What sets us apart</h4>
            <p class="py-3 text-left">
                Our approach is marked by creativity, innovation, precision, and a
                keen eye for detail. Check out our works on this site, creativity and
                passion for detail is painted in every project, however small it is.
                We blend modern design with traditional African values and culture,
                ensuring each home we build is a timeless masterpiece that's not just
                beautiful but also affordable. Through sustainable practices and
                cutting-edge techniques, we create homes that stand the test of time
                without compromising on cost-effectiveness. Unlike typical online
                designs, our houses are crafted for the African environment,
                emphasizing the importance of natural ventilation. All rooms have
                windows to facilitate proper airflow. Each toilet area is deliberately
                designed with windows to enhance ventilation and comfort, emphasizing
                natural airflow rather than relying on mechanical ventilation systems.

            </p>

            <h4 class="fw-bold text-left pt-5">Why Choose RICHIEART</h4>
            <p class="py-3 text-left">
                Choosing RICHIEART means choosing a partner dedicated to making your
                dream home affordable without sacrificing quality. From
                conceptualization to handing over the keys, we guarantee a journey
                marked by transparency, affordability, and an unwavering commitment to
                your satisfaction. We are passionate about design that's not only
                beautiful but also within reach.
                Join us in building not just affordable homes but legacies. Welcome to
                RICHIEART, where dreams take shape, and houses turn into affordable,
                amazing homes. Passionate about design, committed to affordability.
            </p>


        </div>
    </div>
</div>
</body>
</html>
