<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layouts/home}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Article Details</title>
</head>

<body>

<div layout:fragment="~{content}">
    <div class="p-0 row mt-5 pt-5">
        <div class="container-fluid mt-3 col-md-9 mx-auto">
            <p class="fw-bold text-left p-3">
                <a th:href="@{/articles}" class="text-dark">Other articles</a>
                <a sec:authorize="isAuthenticated()" th:href="@{/admin}"
                   class=" btn btn-dark btn-sm ms-md-5">
                    <i class="bi bi-arrow-left"></i> Admin Dashboard
                </a>
            </p>

            <div class="row blogbody" th:object="${article}">
                <div class="p-0">
                    <div class="p-5 m-0">
                        <h3 class="pt-3 fw-bold pb-3" th:text="${article.title}"></h3>
                        <p class="py-3" th:if="${article.uploadedDate}"><strong>Uploaded Date:</strong> <span th:text="${article.uploadedDate}"></span>
                        <i class="ms-5" th:if="${article.author}"><strong>Written By:</strong> <span th:text="${article.author}"></span></i></p>

                        <p class="container-fluid p-0 m-0">
                            <img th:if="${article.storyPhotoUrl}" th:src="${article.storyPhotoUrl}" alt="" class="img-fluid col-md-6" style="width:100%; max-width:700px; "/>
                        </p>
                        <h4 class="pt-3 fw-bold pb-3" th:if="${article.subTitle}" th:text="${article.subTitle}"></h4>
                        <p class="text-justify py-3 blogtext"th:if="${article.paragraph}" th:utext="${article.paragraph}"></p>

                        <h4 class="pt-0 fw-bold pb-0" th:if="${article.subTitle1}" th:text="${article.subTitle1}"></h4>
                        <p class="text-justify py-3 blogtext" th:if="${article.paragraph1}" th:utext="${article.paragraph1}"></p>

                        <h4 class="pt-0 fw-bold pb-0" th:if="${article.subTitle2}" th:text="${article.subTitle2}"></h4>
                        <p class="text-justify py-3 blogtext" th:if="${article.paragraph2}" th:utext="${article.paragraph2}"></p>

                        <h4 class="pt-0 fw-bold pb-0" th:if="${article.subTitle3}" th:text="${article.subTitle3}"></h4>
                        <p class="text-justify py-3 blogtext" th:if="${article.paragraph3}" th:utext="${article.paragraph3}"></p>

                        <h4 class="pt-0 fw-bold pb-0" th:if="${article.subTitle4}" th:text="${article.subTitle4}"></h4>
                        <p class="text-justify py-3 blogtext" th:if="${article.paragraph4}" th:utext="${article.paragraph4}"></p>

                        <h4 class="pt-0 fw-bold pb-0" th:if="${article.subTitle5}" th:text="${article.subTitle5}"></h4>
                        <p class="text-justify py-3 blogtext" th:if="${article.paragraph5}" th:utext="${article.paragraph5}"></p>

                        <h4 class="pt-0 fw-bold pb-0" th:if="${article.subTitle6}" th:text="${article.subTitle6}"></h4>
                        <p class="text-justify py-3 blogtext" th:if="${article.paragraph6}" th:utext="${article.paragraph6}"></p>

                        <h4 class="pt-0 fw-bold pb-0" th:if="${article.subTitle7}" th:text="${article.subTitle7}"></h4>
                        <p class="text-justify py-3 blogtext" th:if="${article.paragraph7}" th:utext="${article.paragraph7}"></p>

                        <h4 class="pt-0 fw-bold pb-0" th:if="${article.subTitle8}" th:text="${article.subTitle8}"></h4>
                        <p class="text-justify py-3 blogtext" th:if="${article.paragraph8}" th:utext="${article.paragraph8}"></p>

                        <h4 class="pt-0 fw-bold pb-0" th:if="${article.subTitle9}" th:text="${article.subTitle9}"></h4>
                        <p class="text-justify py-3 blogtext" th:if="${article.paragraph9}" th:utext="${article.paragraph9}"></p>

                        <h4 class="pt-0 fw-bold pb-0" th:if="${article.subTitle10}" th:text="${article.subTitle10}"></h4>
                        <p class="text-justify py-3 blogtext" th:if="${article.paragraph10}" th:utext="${article.paragraph10}"></p>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

</html>
