<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/home}" >

<body>
<div layout:fragment="~{content}">


    <header class="loginbg text-white text-center">
        <div class="container">
            <h1 class="display-5 text-light fw-bold py-5">
                Recover Password
            </h1>
           </div>
    </header>
    <div class="row mt-4 ">
        <div th:if="${param.not_found}" class="col-sm-8">
            <p class="alert alert-danger alert-dismissible">No user found with this email</p>
        </div>

        <div th:if="${param.success}" class="col-sm-8">
            <p class="alert alert-info">We have just sent a verification link to your email, please check to complete your request.</p>
        </div>
<!--
        <div th:if="${param.error}" class="col-sm-8">
            <p class="alert alert-info">[[${error}]]</p>
        </div>-->
    </div>

 <div class="row">
     <div class="col-md-4">

     </div>
     <div class="col-md-4">
         <h3 class="m-lg-5 text-center">Forgot Password</h3>
         <form th:action="@{/registration/forgot-password}" method="post" class="px-4">

             <div class="mb-3 row mx-auto">

                    <div class="input p-0 m-0 text-center">
                     <input type="text" class="form-control text-center" placeholder="Type here your Email" id="email" name="email" required autofocus="autofocus">
                 </div>
                 <div class="mb-3  my-3">
                     <button type="submit" class="btn btn-success w-100"> Verify email</button>
                 </div>
             </div>
         </form>

     </div>
     <div class="col-md-4">

     </div>
 </div>
</div>
</body>
</html>
