<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/home}" >

<body>
<div layout:fragment="~{content}">

    <div class="row">
        <div class="p-5 col-md-8 mx-auto">
            <p class="mt-5 pt-3 ">

            </p>
            <h2 class="display-3 mt-5 pt-5 text-left">Terms & Conditions</h2>

            <h4 class="fw-bold text-left pt-5">Welcome to richieart.co</h4>
            <p class="py-3 text-left">These terms and conditions outline the rules and regulations for the
                use of our website.
                By accessing our website, we assume that you accept these terms and
                conditions in full. We also assume that you are 18 years of age or
                above. </p>
            <p class="py-3 text-left">Do not continue to use the Website if you do not accept all of the
                terms and conditions stated on this page.
            </p>
            <p class="py-3 text-left">The following terminology applies to these Terms and Conditions,
                Privacy Statement, and Disclaimer Notice and any or all Agreements:
                "Client", "You" and "Your" refer to you, the person accessing this
                website and accepting the Company's terms and conditions. "The
                Company", "Ourselves", "We", "Our" and "Us", refer to our Company.
                "Party", "Parties", or "Us", refers to both the Client and ourselves,
                or either the Client or ourselves.</p>

            <h4 class="fw-bold text-left pt-5">Cookies</h4>
            <p class="py-3 text-left">
                We may employ the use of cookies. By using the Website, you consent to
                the use of cookies in accordance with our privacy policy.

            </p>
            <h4 class="fw-bold text-left pt-5">License</h4>
            <p class="py-3 text-left">
                Unless otherwise stated, we own the intellectual property rights for
                all material on the Website. All intellectual property rights are
                reserved. You may view and/or print pages from the Website for your
                personal use, subject to restrictions set in these terms and
                conditions.
            </p>

            <p class="py-3 text-left">
                You must not:
                <ul>
            <li>
                Republish material from this Website
            </li>
            <li>
                Sell, rent or sub-license material from the Website
            </li>
            <li>
                Reproduce, duplicate or copy material from the Website
            </li>
        </ul>

            </p>

            <h4 class="fw-bold text-left pt-5">User Comments</h4>
            <p class="py-3 text-left">
                Certain parts of this Website offer the opportunity for users to post
                and exchange opinions, information, material, and data ('Comments') in
                areas of the website. We do not screen, edit, publish or review
                Comments prior to their appearance on the website and Comments do not
                reflect the views or opinions of the Company.

            </p>

            <h4 class="fw-bold text-left pt-5">Reservation of Rights</h4>
            <p class="py-3 text-left">
                We reserve the right at any time and in our sole discretion to request
                that you remove all links or any particular link to our website. You
                agree to immediately remove all links to our Website upon such a
                request. We also reserve the right to amend these terms and conditions
                and its linking policy at any time.
            </p>

            <h4 class="fw-bold text-left pt-5">Disclaimer</h4>
            <p class="py-3 text-left">
                To the maximum extent permitted by applicable law, we exclude all
                representations, warranties, and conditions relating to our website
                and the use of this website.
                By using our Website, you hereby consent to our terms and conditions
                and agree to its Privacy Policy.
            </p>

            <h4 class="fw-bold text-left pt-5">Privacy Policy</h4>
            <p class="py-3 text-left">
                At Richieart.co, we care about our customers and their privacy. We
                gather your information to send you our products and to make your
                shopping experience better. We also use it to talk to you about our
                products, services, and deals. We understand that handling your
                information is a big responsibility, so we're careful with it. We
                don't sell or share the information you give us online with other
                companies.

            </p>

            <h4 class="fw-bold text-left pt-5">Design Codes</h4>
            <p class="py-3 text-left">
                The House Designs are coded as follows <br>
                HD FBB-XsqmY<br>
                Key <br>
                HD - House Design<br>
                F – Floors (Number of Levels/ Floors)<br>
                B – Bedrooms<br>
                B – Bathrooms<br>
                X – Style, Features and Plot size<br>
                50 x 100 plot – A, B, C, D, E, F<br>
                75 x 100 plot – G, H, J, K, L, M<br>
                100 x 100 plot – N, P, Q, R, S, T<br>
                Larger plots – U, V, W, X, Y, Z<br>
                sqm – Square Metres<br><br>
                Y - Options<br>
                Example<br>
                HD 132-A098A – 3 Bedroomed, Single Floor House with 2 Bathrooms fits
                on 50 x 100 plot covering 98 square metres, option A <br>
                HD 243-K295B – 4 Bedroomed, Two Floor House with 3 Bathrooms fits on
                75 x 100 plot covering a total of 295 square metres, option B
            </p>


        </div>
    </div>
</div>
</body>
</html>
